body {
  font-family: Arial, sans-serif;
  max-width: 200px;
  margin:  auto;
  padding: 5% ;
  background: linear-gradient(to left, #35374B,#344955,#50727B,#78A083); }

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: antiquewhite;
}

#dateInput {
  height: 10%;
  font-family: sans-serif;
  font-size: 16px;
  background:linear-gradient(30deg, #F5F7F8,#F4CE14);
  margin: 0 auto;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  color: black;
}

#result {
  margin: 20px 0;
  color: aliceblue;
  font-size: 20px;
  text-align: center ;

}

#image {
  
  width: 200%;
  margin: auto;
  display: block;
}

button {
  font-family: sans-serif;
  border-radius: 8px;
  border: none;
  background-color: #F4CE14;
}